.container {
    display: flex;
    font-family: "Fira Code", monospace !important;
    color: #e5e9f0 !important;
    min-height: calc(100vh - 87px);
    background: #011627;
}
.formContainer {
    width: 100%;
    display: flex;
}
.form {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #1e2d3d;
}
.output {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width: 372px;
}
.mobileForm {
    display: none;
}
@media screen and (max-width: 1200px) {
    .formContainer {
        flex-direction: column;
        align-items: center;
    }
    .form {
        width: 100%;
    }
    .form {
        border: none;
        margin-top: 30px;
    }
    .output {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .contactContainer {
        width: 100%;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .tree {
        width: 100%;
    }
    .mainForm {
        display: none;
    }
    .mobileForm {
        display: block;
    }
}
@media screen and (max-width: 400px) {
    .mobileForm {
        width: 80%;
    }
    .wrapper {
        width: 100%;
    }
    .output {
        display: none;
    }
}
