.canvasEl {
    width: 426px;
    height: 240px;
    cursor: grab;
}
.main {
}
.intro_hero {
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Fira Code", monospace;
    color: #e5e9f0;
    height: calc(100vh - 105px);
}
.right {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.heading {
    display: flex;
    align-items: center;
}
.hero {
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 81px;
}
.job {
    font-weight: 450;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */

    color: #4d5bce;
}
.welcome {
    margin-top: 80px;
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
}
.comment {
    /* identical to box height */
    margin: 10px 0;
    color: #607b96;
    display: flex;
    margin-bottom: 10px;
}

.comment:last-child {
    margin-bottom: 30px;
}

.reference {
}
.const {
    color: #4d5bce;
}
.name {
    color: #43d9ad;
}
.equal {
    color: #ffffff;
}
.link {
    color: #e99287;
}

@media screen and (max-width: 900px) {
    .two_col {
        flex-direction: column;
    }
    .left_col {
        gap: 5rem;
        height: unset;
    }
}
